<div class="profile-row">
  <div class="profile">
    <%= image_tag 'happy_chess.jpg' %>
  </div>

  <div class="bio">
    <h2>Hello there! We're <%= full_name %>.</h2>
    <h3>We love teaching chess in <%= city %>.</h3>
    <!-- Short bio about yourself, your skills, whether you're looking for work or not, etc. -->
    <br/>
    <h4><ul><li>Chess is <strong>free.</strong></li><li>Chess is <strong>fun.</strong></li> <li>Chess is <strong>teaching as kids</strong> play.</li>
    <li>Chess is for <strong>all ages.</strong></p> </li></ul></h4>
</div>
</div>
<div class="featured-element-row">
  <section class="latest-from-blog">
    <h2>Blog</h2>
    <h3><%= link_to page_articles.first.title, page_articles.first %></h3>

    <p><%= page_articles.first.summary %></p>
  </section>

  <section class="featured-project">
    <% project = data.projects.select(&:featured).first %>

    <h2>Featured Resource</h2>
    <h3><%= link_to project.name, 'portfolio.html' %></h3>
    <%= link_to(image_tag(project.screenshot), 'portfolio.html') %>
  </section>
</div>
