<div class="profile-row">
  <div class="profile">
    <%= image_tag Gravatar.new(gravatar_email_address).image_url(size: 200) %>
  </div>

  <div class="bio">
    <h2>Hello there! We're <%= full_name %>.</h2>
    <h3>We love learning, playing and teaching kids chess in <%= city %>.</h3>
    <!-- Short bio about yourself, your skills, whether you're looking for work or not, etc. -->
    <p>Chess is amazingly <strong>good for kids!</strong></p> 
    <p>Teach your child chess and watch them focus intensely and delight in the mystery and strategy of the game. Then remember that they are learning numerous mental and life skills as well as having fun!</p>
    <p> Chess is an investment in a person's - young or old - health and future and because of this, remains a language spoken across the world. </p>
    <p>Anyone, <strong>especially kids </strong>, can learn this great language!</p>
  </div>
</div>

<div class="featured-element-row">
  <section class="latest-from-blog">
    <h2>Latest from the blog</h2>
    <h3><%= link_to page_articles.first.title, page_articles.first %></h3>

    <p><%= page_articles.first.summary %></p>
  </section>

  <section class="featured-project">
    <% project = data.projects.select(&:featured).first %>

    <h2>Featured</h2>
    <h3><%= link_to project.name, 'portfolio.html' %></h3>
    <%= link_to(image_tag(project.screenshot), 'portfolio.html') %>
  </section>
</div>
